* {
    box-sizing: border-box;
    margin: 0;
    color: #412846;
}
body {
    min-height: 100vh;
    font-family: "Nunito", arial, sans-serif;

    /* background-image: url("../img/beach-waves.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
    
    background: radial-gradient(ellipse at top right, #302033, transparent),
                radial-gradient(ellipse at bottom left, #302033, transparent);
    background-color: #ff0762;

}
.menu {
    padding: .5em;
    display: flex;
    list-style-type: none;
    justify-content: space-around;

    background-color: #E9D5EC;
    position: fixed;
    min-width: 100vw;
    
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

main {
    display: grid;
    min-height:100vh;
    place-content: center;
    margin: auto;
}

section {
    background-color: #E9D5EC;
    background-image: linear-gradient(#E9D5EC, #f796a6);
    padding: 2em;
    min-width: 70%;
    max-width: 70%;
    margin: 2rem auto;
    border-radius: 50px;

    font-size: 1.3em;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5em;
}

article {
    min-width: 300px;
    max-width: 300px;
    max-height: 333px;
    padding: .5em;
    border-radius: 25px;
    box-shadow: inset -30px -30px 50px rgba(255, 255, 255, 0.2), inset -1px -5px 5px rgba(13, 39, 80, .2);
    text-align: center;
}

.school, .work {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

#profile {
    max-height: 200px;
    margin: 1em;
    border-radius: 50px;

    align-self: flex-end;
}

h2 {
    font-size: 2em;
    font-weight: 800;
    background-color: #412846;
    /* background-image: linear-gradient(90deg, #05ADFE, #06b993); */
    background-clip: text;
    color: transparent;

    display: inline-flex;
  }

form {
    display: grid;	
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
    
    background-color: #d4ecf8cc;
    background-image: linear-gradient(#E9D5EC, #FFAEBC);
    padding: 2em;
    max-width: 80%;
    margin: auto;
    border-radius: 50px;

   
}

input, textarea {
    border: none;
    border-radius: 20px;
    height: 40px;
    margin: 1rem 0;
    padding: 12px 25px;
    
    box-shadow: inset -1px -3px 10px rgba(165, 30, 79, 0.466);

}
.contact {
    color:#eeeeee;
}

.message {
    grid-column: 1/3;
} 

.submit {
    background: #eeeeee;
    border-radius: 25px;
    border: none;
    height: 40px;

    box-shadow: inset -30px -30px 50px rgba(255, 255, 255, 0.6), inset -1px -5px 5px #ac2a5abd;

    grid-column: 1/3;

    /* grid-row: 4;
    grid-column: 1; */

}