* {
    box-sizing: border-box;
    margin: 0;
    color: #412846;
}
body {
    min-height: 100vh;
    font-family: "Nunito", arial, sans-serif;

    /* background-image: url("../img/beach-waves.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
    
    background: radial-gradient(ellipse at top right, #302033, transparent),
                radial-gradient(ellipse at bottom left, #302033, transparent);
    background-color: #ff0762;

}
.menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;

    background-color: #251927;
    color: #faf3fc;
    min-width: 100vw;

    font-size: 1.25em;
}

a {
    color: #faf3fc;
    text-decoration: none;
    padding: .5em;
    
}

nav a {
    color: #E9D5EC;
    text-decoration: none;
    
  }
  
nav a:is(:hover, :focus-visible) {
    background-color: #ff9fc2;
    outline: 0;
    color: #302033;
  }

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

main {
    display: grid;
    min-height:100vh;
    place-content: center;
    margin: auto;
}

section {
    background-color: #E9D5EC;
    background-image: linear-gradient(#E9D5EC, #f796a6);
    padding: 2em;
    min-width: 70%;
    max-width: 70%;
    margin: 2rem auto;
    border-radius: 50px;

    font-size: 1.3em;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5em;
}

article {
    min-width: 300px;
    max-width: 300px;
    max-height: 333px;
    padding: .5em;
    border-radius: 25px;
    box-shadow: inset -30px -30px 50px rgba(255, 255, 255, 0.2), inset -1px -5px 5px rgba(13, 39, 80, .2);
    text-align: center;
}

.school, .work {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

#profile {
    max-height: 200px;
    margin: 1em;
    border-radius: 50px;

    align-self: flex-end;
}

h2 {
    font-size: 2em;
    font-weight: 800;
    color: #412846;
    /* background-color: #412846;
    /* background-image: linear-gradient(90deg, #05ADFE, #06b993); 
    background-clip: text;
    color: transparent; */

  }

form {
    display: flex;
    flex-direction: column;
    
    background-color: #d4ecf8cc;
    background-image: linear-gradient(#E9D5EC, #FFAEBC);
    padding: 2em;
    min-width: 400px;
    max-width: 400px;
    margin: auto;
    border-radius: 50px;
}

input, textarea {
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    margin: 1rem 0;
    padding: 12px 25px;
    font-family: "Nunico", Arial, Helvetica, sans-serif;
    
    box-shadow: inset -1px -3px 10px rgba(165, 30, 79, 0.466);

}
textarea {
    height: 3em;
}

.submit {
    background-image: linear-gradient(to right, #c54172, #542b5c);
    color: #E9D5EC;
    border-radius: 25px;
    border: none;
    height: 40px;
    width: 90px;

}

 .submit:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


 footer {
    display: flex;
    align-self:flex-end;
    min-width: 100vw;
    margin: auto;
    background-color: #E9D5EC;
    padding: .5rem;
 }